{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}
<!--
    javascript for adding committees dynamically
  -->

<script>
  var counter = 1;
  var limit = 5;
  function addInput(divName) {
    if (counter == limit) {
      alert("You have reached the limit of adding " + counter + " inputs");
    }
    else {
      var newdiv = document.createElement('div');
      newdiv.innerHTML = "<br><h4>Committee " + (counter + 1) + ":</h4>{{ form.as_p }}";

      document.getElementById(divName).appendChild(newdiv);
      counter++;
    }
  }
</script>



<div class="container">
{% if user.is_authenticated %}
  <h2>Create your own MUN Event</h2>
  <br>
  <form id="event-form" action="/submitted" method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <div class="form-group">
      <label for="event">Event name:</label>
      <input class="form-control" type="text" id="event" name="event" placeholder="Event" autofocus><br>
    </div>

    <div class="form-group">
      <label for="org">Organization name:</label>
      <input class="form-control" type="text" id="org" name="org" placeholder="Organization"><br>
    </div>

    <div class="form-group">
      <label for="date">Date: </label>
      <input class="form-control" type="date" id="date" name="date"><br>
    </div>

    <div class="form-group">
      <label for="venue">Venue: </label>
      <input class="form-control" type="text" id="venue" name="venue" placeholder="Venue"><br>
    </div>

    <div class="form-group">
      <label for="price">Registration Price per head: </label>
      <input class="form-control" type="number" id="price" name="price" placeholder="Price"><br>
    </div>

    <div class="form-group">
      <label for="description">Description: </label><br>
      <textarea class="form-control" type="text" id="description" name="description" placeholder="Description" rows="8" cols="80"></textarea><br>
    </div>


    <!--
    <h2>Committees</h2>
    <div id="dynamicInput">
      <h4>Committee 1: </h4>
      {% csrf_token %}
      {{ form.as_p }}
    </div>
    <input type="button" value="Add Committee" onClick="addInput('dynamicInput');">

    <br><br>-->
    <button class="btn btn-primary" type="submit" name="action">
      Submit<i class="material-icons right"></i>
    </button>
  
  </form>

</div>
{% else %}
<div class="container">

  <h4>Please <a href="{% url 'login' %}">login</a> to continue</h4>
</div>
{% endif %}
{% endblock %}
</div>


</body>
  
</html>