{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}


{% if user.is_authenticated %}
<div class="container">
  <center>
    <h2>Hey {{ user }} ! youre looking at</h2>
    <h2>{{ title }}</h2>
  </center>
    <h2>Event Description - </h2>
    <button type="submit" class="btn btn-danger" value="Register" name="submit">Register</button>
    <br>
    <p><h4>{{event.0}}</h4></p>
    <p><strong>Organization - </strong>{{event.1}}</p>
    <p><strong>Scheduled Date - </strong>{{event.2}}</p>
    <p><strong>Location - </strong>{{event.3}}</p>
    <p><strong>Price - </strong>{{event.4}}</p>
    <p><h5>Description: </h5>{{event.5}}</p>
  {% else %}
  <center>
    <p>{{username |title }} <a href="{% url "login" %}">Log in</a> Please</p>
  </center>

</div>
  {% endif %}



{% endblock %}
</div>
</body>

</html>