{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="project">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author">

  <title>{{title}}</title>


  <!-- bootstrap file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- bootstrap file-->

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />


  <!-- message here -->

  {% if messages %}
  {% for message in messages %}

  <script>
    alert("{{ message }}");
  </script>

  {% endfor %}
  {% endif %}

  <!--_______________________________________________-->



</head>

<body class="container-fluid">
  


  <header class="row">

    <!-- navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" class="styleheader" href="{% url 'index' %}">MUnite</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavBar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}">Home</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'user' username=user %}">{{ user }}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Logout</a></li>
            {% else %}
            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> &nbsp; Sign up</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br/>
  <br>
  <br>
  <div class="row">
    {% block start %}
    {% if user.is_authenticated %}
    <div class="container">
      <h1>Welcome, {{ user }}</h1>
      <h4>Our platfrom MUnite is for MUN oraganizers and delegates who want to participate...</h4>
      <br>
      <h4>Create your own MUN event here: </h4>
      <form action="{% url 'create_event' username=user %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success" name="submit">Create Event</button>
      </form>
      <br>
      <h1>Your Events</h1>
      {% if myEvents %}
        {% for e in myEvents %}

            <h4>{{ e }}</h4>
            <a class="btn btn-primary" role="button" id="changePic" >Edit Event</a>
            <a class="btn btn-danger" role="button" id="changePic" >Delete Event</a>
            <br>
        {% endfor %}
      {% else %}
        <h4>You have not created any events yet.</h4>
      {% endif %}
      <br>

      <h1>List of events coming</h1>
      {% for e in events %}
        
        <p><a href="{% url "event" event_name=e.0 %}">{{e.0}}</a></p>
        <p>{{e.1}}</p>
        <p>{{e.2}}</p>
        <p>{{e.3}}</p>
        <p>Price : {{e.4}}</p>
        <p>Organized By - {{ e.5 }}</p>
        <br>
        <br>
      {% empty %}
        <h4>No events coming up</h4>
      {% endfor %}
    </div>

    {% else %}
    <div class="container">
      <h1>Welcome MUN Lovers</h1>
      <h4>Our platfrom, MUnite, is for MUN oraganizers and delegates who want to participate in MUNs...</h4><br>
      <h4>Please <a href="{% url "login" %}">login</a> to continue</h4>
    </div>
    {% endif %}
    {% endblock %}
  </div>
</body>

</html>