{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

    
    {% if user.is_authenticated %}
    <center>
      <h2>Hey {{ username }} !</h2>
      <p><strong>Full name: </strong> {{ name|title }}</p>
      <p><a href="{% url "change_password"%}">change password</a></p>
      <p><strong>Date Joined: </strong> {{ join_date }}</p>
      <p><strong>User Rating - </strong>(This depends on number of participations, wins and organized MUN events): {{ rating }}</p>
      <p><strong>ACHEIVEMENTS -</strong></p>
      <p>{{ acheivement }}</p>
    
    </center>
    {% else %}
    <center><p>{{username |title }} <a href="{% url "login" %}">Log in</a> Please</p></center>
    {% endif %}
    

    {% endblock %}
  </div>
</body>

</html>